.root {
  font-family: system-ui, sans-serif;
  line-height: 1.8;
  font-size: 1.1em;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 1.5em;
  margin: 10px 3px;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 button {
  font-size: 1.1em;
  margin-top: 25px;
  border-radius: 15px;
  padding: 15px;
}

.teachers-section label {
  margin-inline-start: 5px;
}

.teachers-header {
  display: flex;
  justify-content: end;

  & input {
    margin-inline-end: 7px;
  }
}

.students-section {
  margin-block-start: 20px;
}

.students-header {
  margin-inline-start: 5px;

  & span {
    font-weight: bold;
  }
}

.swipe-list {
  display: inline-flex;
  max-width: 100vw;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .right {
    position: relative;
  }

  .selection-element {
    position: absolute;
    right: -14px;
  }
}

.swipe-list.teachers > div {
  height: 30vh;
  max-height: 30vh;
  overflow-y: hidden;
}

.swipe-list.students > div {
  height: calc(70vh - 300px);
  max-height: calc(70vh - 300px);
}

.swipe-list > div {
  display: flex;
  justify-content: space-between;
  min-width: min(80vw, 450px);
  margin: 5px;
  background: #eee;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;

  &:only-child {
    min-width: min(90vw, 450px);
  }

  &.available {
    background: beige;
  }

  &.assigned {
    background: darkseagreen;
  }

  &.selected {
    border-width: 2px;
    background: skyblue;
  }

  .left {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftBottom {
    font-size: 0.8em;

    .status {
      display: flex;
      justify-content: end;
      gap: 6px;

      span {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  .name {
    font-weight: bold;

    & a {
      color: inherit;
      text-decoration: none;
    }
  }

  .grade {
    margin-inline-start: 5px;
    font-size: 0.8em;
  }

  .details {
    max-height: calc(100% - 30px);
    overflow: scroll;
  }

  .contact > span {
    white-space: nowrap;
    gap: 15px;

    & a:first-child {
      margin-inline-end: 5px;
    }

    & img {
      vertical-align: sub;
    }
  }

  .joinDate {
    font-size: 0.8em;
  }

  .insights {
    color: darkgreen;
  }
}

.toast {
  display: grid;

  & a {
    text-align: end;
  }
}

.loader {
  color: blue;
}

form.message {
  color: blue;
  min-height: calc(100vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}

form.warning {
  color: red;
}

.modal {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  max-width: 800px;
  margin-inline: auto;
  left: 0;
  right: 0;
  top: 70px;
  height: 0;
  transition: height 0.5s ease-in-out;
  overflow-y: hidden;
  background: white;
  display: flex;
  flex-direction: column;

  &.open {
    height: calc(100% - 70px);
  }

  .close {
    position: absolute;
    top: 5px;
    left: 10px;
  }

  &:not(.open) .close {
    display: none;
  }

  &.about {
    gap: 20px;
    & form {
      display: flex;
      justify-content: center;

      & button {
        font-size: 2em;
        border-radius: 15px;
        padding: 15px;
      }
    }
  }

  &.teachers-list {
    padding-inline-start: 10px;

    h4 {
      margin: 0;
    }

    .search input {
      width: 70%;
      padding: 3px;
    }

    .list {
      width: calc(100% - 30px);
      overflow-y: scroll;
      max-height: calc(100% - 50px);

      .teacher {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        .status {
          font-size: 0.8em;
        }
      }
    }
  }

  .whatsapp {
    vertical-align: sub;
  }
}

.opening-call .content {
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    height: 50vh;
  }

  .name {
    font-weight: bold;
  }

  .buttons {
    display: flex;
    gap: 12px;
    margin-inline: auto;
    margin-top: 10px
  }

  form {
    display: inline;

    button {
      background-color: lightskyblue;
    }
  }

  button {
    font-size: 1.1em;
    border-radius: 10px;
    padding: 8px;
  }
}

.modal ~ .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: height 0.5s ease-in-out;
}

.modal.open ~ .overlay {
  height: 100vh;
}
